<section class="flex flex-col justify-center items-center md:items-start w-full max-w-md mx-auto font-poppins">
    <h2 class="text-[25px] font-bold mb-6 text-center md:text-left w-full">
        Reset Password
    </h2>
    <form (ngSubmit)="resetPassword()" [formGroup]="setPasswordForm" class="w-full flex flex-col gap-6">
        <app-reusableinput
          [form]="setPasswordForm"
          controlName="newPassword"
          [fieldName]="'Password'"
          placeholder="Password"
          type="password">
        </app-reusableinput>

        <app-reusableinput
          [form]="setPasswordForm"
          controlName="confirmPassword"
          [fieldName]="'Confirm Password'"
          placeholder="Re-Enter Password"
          type="password">
        </app-reusableinput>

        <div class="mt-4">
          <app-form-button 
            [label]="'Reset Password'" 
            [type]="'submit'"
            [disabled]="setPasswordForm.invalid">
          </app-form-button>
        </div>
    </form>
</section>